.Sidebar{
    width: 60px;
    background-color: #f3f3f3;
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Sidebar .logo{
    font-family: "Fauna One";
    color: #666;
    font-size: 3rem;
}

.Sidebar .logo img{
    width: 30px;
    padding-left: 4px; 
}

.Sidebar button{
    background-color: transparent;
    border: 0;
    color: #008Bf8;
    cursor: pointer;
    margin-top: 2rem;
    position: relative;
    width: 60%;
    outline: none;
}

.Sidebar button img{
    position: absolute;
    left: 0%;
    width: 100%;
    transition: opacity .25s ease-in-out;
}

.Sidebar button:hover img.outline{
    opacity: 0;
}